<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/map.js"></script>
</head>
<body>

<ul>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/map">Map</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
</br>
</br>
<div id="map" style="width: 50%; height: 400px;"></div>

</body>
</html>