<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>

<ul>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/map">Map</a></li>
    <li sec:authorize="hasAuthority('READ_PRIVILEGE')"><a href="/admin">Admin</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

</br>

<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <tr>
        <td><a th:text="${user.getFirstname()}"></a></td>
        <td><a th:text="${user.getLastname()}"></a></td>
    </tr>
</table>


<ul>
    <li><a href="/useredit">Update</a></li>
</ul>
<br>
<br>
<h1>Reservations history</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Restaurant</th>
        <th>From</th>
        <th>To</th>
        <th>Ordered</th>
    </tr>
    <tr data-th-each="reservation : ${reservations}">
        <td data-th-text="${reservation.getId()}"></td>
        <td data-th-text="${reservation.getTables().getRestaurants().getName()}"></td>
        <td data-th-text="${reservation.getReservedFrom()}"></td>
        <td data-th-text="${reservation.getReservedTo()}"></td>
        <td>
            <div>
                <div  data-th-each="reservationMeal : ${reservation.getReservationMeals()}">
                    <p th:text="${reservationMeal.getMeals().getName()}"></p>
                </div>
            </div>
        </td>
    </tr>
</table>

<br>
<br>


</body>
</html>